
*{
		text-align:center;
		margin:0px;
		padding:0px;
		margin:10px 5px 3px 5px;
		text-align:center;
			}
		
.back{
		background-image:url('photo.jpg');
		height:100vh;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		position:center;
				}
		
.image{
		background-image:url(image.jpg);
		height:400px;
		width:400px;
		background-size:cover;
		text-align:center;
		top:50%;
		left:50%;
		margin-top:-200px;
		margin-left:-200px;
		position:fixed;		
					
		}
.header input{
		height:20px;
		padding:3px;
		margin:5px;
		text-align:center;
		padding-top:5px;
		}
.header .submit input{
		height:30px;
		width:100px;
		background:green;
		border-radius:15px;
		color:white;
		text-transform:uppercase;
	}
a:hover{
		color:red;
			}
			
	